<ion-content>
  <center>
    <h1>Create Hierarchy</h1>
    Welcome - <a ng-click = "logout()">Logut</a>
    <a ng-click = "next('app.adminDashboard')">Back to home</a>
  </center>
  <center><h1>Create Hierarchy</h1></center>
  <hr>
  <form>
    <button class="button button-block button-positive" ng-click = "next('app.createHierarchy1')">
      Create Level 1
    </button>
    <br>
    <button class="button button-block" ng-click = "next('app.createHierarchy2')">
      Create Level 2
    </button>
    <br>
    <button class="button button-block button-positive" ng-click = "next('app.createHierarchy3')">
      Create Level 3
    </button>

  </form>
</ion-content>
