<ion-content>
  <center>
    <h1>Create Hierarchy</h1>
    <a ng-click = "logout()">Logut</a>
    <a ng-click = "next('app.adminDashboard')">Back to home</a>
    <a ng-click = "next('app.viewHierarchy')">View hierarchies</a>
  </center>
  <hr>
  <div class="padding" style="text-align:center;">
      Enter Details
  </div>
  <form>
    <div class="list">
       <div class="list list-inset inputBox ">
        <label class="item item-input">
          <input type="text" ng-model="level3.name" placeholder="Enter Level Name" style="text-align: center;">
        </label>
      </div>
    </label>
        <button class="button button-block" ng-click = "createHierarchy3(level3)" ng-if = "levelThirdId == undefined">Create Hierarchy</button>
    </label>
    <label>
        <button class="button button-block" ng-click = "updateHierarchy(levelThirdId, level3, 'third')" ng-if = "levelThirdId != undefined">Update Hierarchy</button>
    </label>
    <!-- <label>
        <button class="button button-block" ng-click = "findNextLevel(levelThirdId)" ng-if = "levelId != undefined">Next</button>
    </label> -->
    </div>
  </form>
</ion-content>
