<ion-content ng-init = "getLevelFirst()">
  <center>
    <h1>Create Hierarchy</h1>
    <button ng-click = "logout()">Logut</button>
    <button ng-click = "next('app.adminDashboard')">Back to home</button>
    <button ng-click = "next('app.viewHierarchy')">View hierarchies</button>
  </center>
  <hr>
  <div class="padding" style="text-align:center;">
      Enter Details
  </div>
  <form>
    <div class="list">
      <label class="item item-input item-select">
          <div class="input-label">
            Select Category
          </div>
          <select ng-model="levelData.level1" ng-change = "getLevelSecond(levelData.level1)">
            <option value="">Select</option>
            <option value="{{list._id}}" ng-repeat = "list in levelFirst">{{list.name}}</option>
          </select>
      </label>
      <label class="item item-input item-select">
  		    <div class="input-label">
  		      Select Sub Category
  		    </div>
  		    <select ng-model="levelData.level2">
  		    	<option value="">Select</option>
            <option value="{{list._id}}" ng-repeat = "list in levelSecond">{{list.name}}</option>
  		    </select>
  		</label>
       <div class="list list-inset inputBox ">
        <label class="item item-input">
          <input type="text" ng-model="level3.name" placeholder="Enter Level Name" style="text-align: center;">
        </label>
      </div>
    </label>
        <button class="button button-block" ng-click = "createHierarchy3(level3, levelData)" ng-if = "levelThirdId == undefined">Create Hierarchy</button>
    </label>
    <label>
        <button class="button button-block" ng-click = "updateHierarchy(levelThirdId, level3, 'third')" ng-if = "levelThirdId != undefined">Update Hierarchy</button>
    </label>
    <!-- <label>
        <button class="button button-block" ng-click = "findNextLevel(levelThirdId)" ng-if = "levelId != undefined">Next</button>
    </label> -->
    </div>
  </form>
</ion-content>
