<ion-content ng-init = "getLevelFirst()">
  <center>
    <h1>Create Hierarchy</h1>
    <button ng-click = "logout()">Logut</button>
    <button ng-click = "next('app.adminDashboard')">Back to home</button>
    <button ng-click = "next('app.viewHierarchy')">View hierarchies</button>
  </center>
  <hr>
  <div class="padding" style="text-align:center;">
      Enter Details
  </div>
  <form>
    <div class="list">
      <label class="item item-input item-select">
  		    <div class="input-label">
  		      Select Category
  		    </div>
  		    <select ng-model="levelData.level1">
  		    	<option value="">Select</option>
            <option value="{{list._id}}" ng-repeat = "list in levelFirst">{{list.name}}</option>
  		    </select>
  		</label>

      <div class="list list-inset inputBox">
        <label class="item item-input">
          <input type="text" ng-model="level2.name" placeholder="Enter Level Name" style="text-align: center;">
        </label>
      </div>

      <label>
          <button class="button button-block" ng-click = "createHierarchy2(level2, levelData)" ng-if = "levelSecondId == undefined">Create Hierarchy</button>
      </label>
    </label>
    </div>
  </form>
</ion-content>
