
<ion-content>
  <center>
    <h1>Home</h1>
  </center>
  <hr>
  <div class="padding" style="text-align:center;">
      Welcome! {{name}}. <a ng-click = "logout()">Logut</a>
  </div>
  <div class="">
  <!-- /    <a ng-click = "next('app.createSession')">Create Session</a> -->
      <button class="button button-block button-positive" ng-click = "next('app.createSession')">
        Create session
      </button>
      <br>
      <button class="button button-block" ng-click = "next('app.viewSession')">
        View Session
      </button>

      <br>
      <button class="button button-block button-positive" ng-click = "scanBarcode()">
        Scan QR code
      </button>

      <!-- <a >Open scanner</a> -->
      <br>

      <button class="button button-block" ng-click = "viewSessionList()">
        View Sessions on web
      </button>
      <!-- <a >View Session List</a> -->
      <br>
  </div>
  </ion-content>
