
<ion-content>
  <center>
    <h1>
    Reset Password
  </h1>
  </center>
  <hr>
  <div class="padding" style="text-align:center;">
      Enter registered email .
  </div>
  <form>
    <div class="list">
       <div class="list list-inset inputBox ">
        <label class="item item-input">
          <input type="email" ng-model="loginData.email" placeholder="Enter registered Email" style="text-align: center;">
        </label>
      </div>
      <hr>
      <label class="row" style="border:none !important">
        <button class="button button-block button-positive" ng-click = "reset(loginData)">
          Reset Password
        </button>
      </label>
      <label class="row" style="border:none !important;">
          <button class = "button button-block" ng-click = "next('signup')">Register here</button>.
      </label>
      <button class="button button-block" ng-click = "next('login')">login</button>
    </div>
  </form>
</ion-content>
